.vue-slideout-fullscreen {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  > .vue-slideout-layout {
    transform: translate(0, 0);

    > .vue-slideout-header .vue-slideout-btn-fullscreen {
      svg:first-child {
        display: none;
      }

      svg:last-child {
        display: inline-block;
      }
    }
  }

  &.vue-slideout-visible {
    > .vue-slideout-layout {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
