.vue-slideout-btn-fullscreen {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  > .vue-slideout-layout {
    transform: translate(0, 0);
    width: 100%;
    height: 100%;

    > .vue-slideout-header .vue-slideout-btn-fullscreen {
      svg:first-child {
        top: -32px;
      }

      svg:last-child {
        top: 7px;
      }
    }
  }

  > .vue-slideout-layout > .vue-slideout-header {
    svg {
      position: absolute;
      left: 7px;
    }

    svg:first-child {
      top: 7px;
    }

    svg:last-child {
      top: 32px;
    }
  }
}
