
.slideout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
  outline: none;
  display: none;
  will-change: auto;

  &-is--fixed {
    position: fixed;
  }

  &-header--visible {
    > .slideout-panel > .slideout-content {
      top: 48px;
    }
  }

  &-footer--visible {
    > .slideout-panel > .slideout-content {
      bottom: 48px;
    }
  }
}

.slideout-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  will-change: auto;
  border: 1px solid #EEE;
  box-sizing: border-box;
}

.slideout-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.slideout-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  z-index: 30;
}

.slideout-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding: 5px 10px;
  line-height: 36px;
  box-sizing: border-box;
  border-top: 1px solid #EEE;
  z-index: 50;
  background: inherit;
}

.slideout-dock--top {
  > .slideout-panel {
    top: 0;
    transform: translateY(-100%);
  }
}

.slideout-dock--right {
  > .slideout-panel {
    right: 0;
    transform: translateX(100%);
  }
}

.slideout-dock--bottom {
  > .slideout-panel {
    bottom: 0;
    transform: translateY(100%);
  }
}

.slideout-dock--left {
  > .slideout-panel {
    left: 0;
    transform: translateX(-100%);
  }
}

.slideout-helper--scroll-locker {
  overflow: hidden !important;
}

.slideout-is--visible {
  &.slideout-dock--top, &.slideout-dock--bottom {
    > .slideout-panel {
      transform: translateY(0);
    }
  }

  &.slideout-dock--left, &.slideout-dock--right {
    > .slideout-panel {
      transform: translateX(0);
    }
  }
}

@import "header";
@import "animation";
@import "fillparent";
@import "resize";
@import "autosize";
